html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "GothamPro", sans-serif;
  font-weight: normal;
  color: var(--color-hoki);
  background-color: #0E1B30;
}

img {
  max-width: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.is-outer {
  position: relative !important; // stylelint-disable-line declaration-no-important
  left: -9999px !important; // stylelint-disable-line declaration-no-important
}

.site-container {
  overflow: hidden;
}
.container {
  margin: 0 auto;
  padding: 0 55px;
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.visually-hidden {
  @include visually-hidden;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;;
  cursor: pointer;
}

.scroll {
  position: absolute;
  top: 50%;
  right: 55px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;

  &__arrow {
    width: 13px;
    height: 42px;
    margin-bottom: 20px;
  }

  &__mouse {
    width: 20px;
    height: 30px;
  }
}