html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "GothamPro", sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: var(--color-hoki);
  background-color: #0E1B30;
}

img {
  max-width: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.is-outer {
  position: relative !important; // stylelint-disable-line declaration-no-important
  left: -9999px !important; // stylelint-disable-line declaration-no-important
}


.container {
  margin: 0 auto;
  padding: 0 55px;

  &-flex {
    display: flex;
    align-items: center;
  }
}


.quiz__container {

  justify-content: flex-end;
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.visually-hidden {
  @include visually-hidden;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  ;
  cursor: pointer;
}

.scroll {
  position: fixed;
  top: 50%;
  right: 25px;
  z-index: 2;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;

  &__arrow {
    width: 13px;
    height: 42px;
    margin-bottom: 20px;

    animation-iteration-count: infinite;
    animation-duration: 2s;
  }

  &__mouse {
    width: 20px;
    height: 30px;
  }
}



.btn,
.btn-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 200px;
  padding: 18px 15px;
  font-weight: bold;
  font-size: 16px;
  line-height: 15px;
  color: var(--color-white);
  border-radius: 55px;
}

.btn {
  background-color: var(--color-meadow);
  box-shadow: 0px 12px 30px -12px rgba(36, 191, 121, 0.75);
}

.btn-empty {
  border: 2px solid rgba(#24BF79, .25);
}

.section__btn {
  margin-top: 50px;
}

.title {
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 40px;
  line-height: 38px;
  letter-spacing: 0.03em;

  color: var(--color-meadow);
}

.text {
  line-height: 25px;
  letter-spacing: 0.03em;

  color: var(--color-pigeon);

  margin-bottom: 15px;

  &:last-child {
    margin: 0;
  }
}

.section_padding-left {
  padding-left: 350px;
}

.hints {
  position: fixed;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;

  animation: showElement 0.8s forwards;


}

.social-hints {
  position: relative;

  &__shared {
    display: inline-block;
    margin-left: 55px;
    width: 30px;
    height: 30px;
    background-image: url('../img/shared.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 13px 14px;
    background-color: var(--color-meadow);
    border-radius: 55px;
    box-shadow: 0px 6px 20px -5px rgba(36, 191, 121, .8);
  }

  &__links {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 100px;
    display: flex;

    transition: 0.2s;
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;

    &.active {
      transform: translateX(0%);
      opacity: 1;
      visibility: visible;
    }

    a {
      margin-right: 10px;

      &:last-child {
        margin: 0;
      }
    }
  }

  &__icon {
    width: 30px;
    height: 30px;

    path {
      fill: #0dbf79;
    }
  }
}

.telephone {
  margin-right: 55px;

  a {
    font-weight: bold;
    font-size: 16px;
    line-height: 15px;

    color: var(--color-hoki);

    span {
      color: var(--color-pigeon);
    }
  }
}

.menu {
  position: fixed;
  top: 50%;
  left: 55px;

  transform: translateY(-50%);
  z-index: 9;


  animation: showElement 0.8s forwards;

  &__slider {
    width: 100%;
    overflow: hidden;
    max-height: 200px;

    &-slide {
      height: 35px;
    }
  }

  &__item {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }

    &.active {

      a {
        color: var(--color-meadow);
      }
    }

    a {
      font-size: 12px;
      line-height: 11px;

      span {
        margin-left: 15px;
      }
    }

    &_margin-left {
      a {
        span {
          margin-left: 16px;
        }
      }
    }
    &_last {
      a {
        span {
          margin-left: 20px;
        }
      }
    }
  }

  &__arrow-prev {
    position: absolute;
    top: -24px;
    left: 0px;
    width: 14px;
    height: 14px;
    background: url('../img/arrow_up.svg') center no-repeat;
    background-color: transparent !important;

    &:focus {
      outline: none;
    }
  }

  &__arrow-next {
    position: absolute;
    bottom: -20px;
    left: 0px;
    width: 14px;
    height: 14px;
    background: url('../img/arrow_next.svg') center no-repeat;
    background-color: transparent !important;

    &:focus {
      outline: none;
    }
  }

}


.slider-nav {
  position: absolute;
  z-index: 10;
  display: flex;



  &__arrow_prev,
  &__arrow_next {
    width: 30px;
    height: 30px;

    background-color: var(--color-meadow);
    box-shadow: 0px 0px 8px 1px rgba(36, 191, 121, 0.8);
    border-radius: 55px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 8px 14px;
  }


  &__arrow_prev {
    margin-right: 20px;
    background-image: url('../img/arrow-left.svg');
  }

  &__arrow_next {
    background-image: url('../img/arrow-right.svg');
  }
}

.swiper-button-disabled {
  background-color: #163666;
  box-shadow: none;
}

.mini-footer {
  position: absolute;
  bottom: 30px;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  
  animation: showElement 0.8s forwards;

  a {
    font-weight: 500;
    font-size: 13px;
    line-height: 12px;
    color: var(--color-hoki);

    span {
      font-weight: normal;
      color: var(--color-white);
    }
  }
}