.header {
  position: relative;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 40px 0;


  &.active {
    padding: 40px 0;
    animation: showElement 0.8s forwards;

    .header__container {
      flex-direction: row;
      align-items: center;
      min-height: 35px;
    }

    .info-header {
      display: none;

      animation: showElement 0.8s forwards;
    }

    .menu-header {
      display: flex;
    }

    &::after {
      top: 50px;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &::after {
    content: '';
    position: absolute;
    top: 58px;
    right: 4px;
    z-index: -1;
    width: 59px;
    height: 13px;
    background-image: url('../img/decor-2.svg');
    background-size: 59px 13px;
  }
}





.info-header {
  display: flex;
  align-items: flex-end;

  &__item {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -45px;
      width: 30px;
      height: 30px;
      background-color: var(--color-meadow);
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 55px;
      box-shadow: 0px 6px 20px -5px rgba(36, 191, 121, .8);
    }
  }

  &__tel {
    margin-right: 130px;


    &::before {
      top: 11px;
      background-image: url('../img/tel.svg');
      background-size: 12px 12px;
    }

    span {
      display: block;
      margin-bottom: 3px;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.03em;
      text-align: right;

      color: var(--color-hoki);
    }

    &-text {
      display: block;
      font-weight: bold;
      font-size: 16px;
      line-height: 18px;

      color: #B0BFD6;

    }

  }

  &__work {
    margin-right: 90px;

    &::before {
      top: -6px;
      background-image: url('../img/clock.svg');
      background-size: 16px 16px;
    }

    &-text {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;

      span {
        color: var(--color-pigeon);
      }
    }

    &_nav {
      margin-right: 0;
    }
  }

  &__call {

    &-text {
      position: relative;
      padding-right: 41px;
      font-weight: bold;
      font-size: 16px;
      line-height: 18px;
      letter-spacing: 0.03em;
      color: var(--color-meadow);

      &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        width: 21px;
        height: 30px;
        transform: translateY(-50%);
        background-image: url('../img/smartphone.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 9px 15px;
        background-color: #24BF79;
        border-radius: 55px;
        box-shadow: 0px 6px 20px -5px rgba(36, 191, 121, .8);
      }
    }
  }
}

.menu-header {
  display: none;
  align-items: center;
  margin-right: 25px;

  &__link {
    display: inline-block;
    margin-right: 55px;
    font-weight: 500;
    font-size: 14px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--color-pigeon);
  }
}

.nav {
  transform: translateX(110%);

  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 50%;
  height: 100vh;
  padding-right: 50px;
  background-color: rgba(14, 26, 46, 0.95);
  backdrop-filter: blur(15px);

  transition: transform .4s ease-in-out;

  &._active {
    transform: translateX(0);
  }

  &__info {
    position: absolute;
    top: 50px;
    left: 167px;
    display: flex;
    align-items: flex-end;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 100%;

    li {
      padding-bottom: 40px;

      &:last-child {
        padding: 0;
        ;
      }


      &._active {
        a {
          color: var(--color-meadow);
        }
      }
    }
  }

  &__link {
    display: block;
    font-weight: bold;
    font-size: 30px;
    line-height: 32px;
    color: var(--color-hoki);

  }

  &__btn {
    position: absolute;
    bottom: 50px;
    right: 50px;
  }
}