.hero {
  position: relative;
  background: url('../img/bg-hero.svg') center/cover no-repeat;
  height: 100vh;

  &__container {
    display: flex;
    align-items: center;
    height: 100%;
  }


  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 220px;
    width: 13px;
    height: 40px;
    background: url('../img/decor.svg') center no-repeat;
  }

  &__title {
    margin-bottom: 10px;
    font-weight: 900;
    font-size: 72px;
    line-height: 80px;

    letter-spacing: 0.03em;

    color: #FFFFFF;

    animation-delay: 0.4s;
  }

  &__subtitle {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: var(--color-pigeon);

    animation-delay: 0.6s;
  }

  &__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.03em;
    color: var(--color-pigeon);

    animation-delay: 1s;

    span {
      font-weight: bold;
      color: var(--color-meadow);
    }
  }

  &__img {
    position: absolute;
    top: 0;
    right: 9%;

    animation-delay: 1s;
  }

  &__features {
    position: absolute;
    bottom: 45px;
    left: 55px;
  }

  &__phrase {
    position: absolute;
    bottom: 45px;
    right: 55px;
    max-width: 360px;

    animation-delay: 1.5s;

    span {
      color: var(--color-pigeon);
    }
  }
}

.features-hero {
  display: flex;
  max-width: 900px;

  &__item {
    margin-right: 60px;

    animation-delay: 1.2s;

    &:last-child {
      margin: 0;
      max-width: 490px;
      animation-delay: 1.3s;
    }
  }

  &__title {
    color: var(--color-meadow);
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
  }

  &__text {
    color: var(--color-hoki);
    font-size: 14px;
    line-height: 23px;
  }
}