.about {
  position: relative;
  background: url('../img/bg-about.svg') center/cover no-repeat;


  &__content {
    max-width: 615px;
  }

  &__text {

    &_no-mb {
      margin: 0;
    }
  }
}



.options {
  background: url('../img/bg-options.svg') center/cover no-repeat;

  &__subtitle {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 15px;
    letter-spacing: 0.03em;
    color: var(--color-white);
  }

  &__list {
    li {
      margin-bottom: 20px;

      span {
        font-weight: normal;
        font-size: 16px;
        line-height: 15px;
        color: var(--color-pigeon);
      }

      &::before {
        content: '';
        display: inline-block;
        width: 8px;
        height: 13px;
        margin-right: 15px;
        background: var(--color-meadow);
        border-radius: 55px;
        box-shadow: 0px 0px 6px 2px rgba(36, 191, 121, 0.8)
      }

      &:last-child {
        margin: 0;
      }
    }
  }

}

.how-it-works {
  background: url('../img/bg_how-it-works.svg') center/cover no-repeat;

  &__content {
    max-width: 640px;
  }
}

.support {
  background: url('../img/bg-support.svg') center/cover no-repeat;

  &__content {
    max-width: 560px;
  }
}

.info {
  background: url('../img/bg-info.svg') center/cover no-repeat;

  &__content {
    max-width: 600px;
  }
}

.documentation {
  background: url('../img/bg-defense.svg') center/cover no-repeat;

  &__container {
    justify-content: space-around;
  }

  &__content {
    width: 100%;
    max-width: 420px;
    margin-right: 30px;
  }

  &__title {
    margin-bottom: 50px;
  }

}

.files-documentation {
  padding: 50px;
  background: #112441;
  border-radius: 10px;

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    &:last-child {
      margin: 0;
    }
  }

  &__name {
    display: flex;
    align-items: center;
  }

  &__text {
    margin-left: 15px;
    font-size: 15px;
    line-height: 16px;
    color: var(--color-pigeon);
  }

  &__download {
   
    span {
      display: inline-block;
      width: 30px;
      height: 30px;
  
      background-image: url('../img/download-icon.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 13px 13px;
      background-color: #163666;
      border-radius: 55px;
  
      transition: background-color .2s, box-shadow .2s;
  
      &:hover {
        background-color: var(--color-meadow);
        box-shadow: 0px 5px 7px 0px rgba(36,191,121,0.8);
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.installation {
  background: url('../img/bg-installation.svg') center/cover no-repeat;

  &__content {
    max-width: 605px;
  }

}